<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <!-- Id: com.sap:artifactory:1.0.0:settings.xml -->
    <mirrors>
        <mirror>
            <id>mirror1</id>
            <url>https://int.repositories.cloud.sap/artifactory/</url>
            <mirrorOf>*,!artifactory</mirrorOf>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <id>release.build</id>
            <pluginRepositories>
                <pluginRepository>
                    <id>artifactory</id>
                    <url>https://int.repositories.cloud.sap/artifactory/build-releases/</url>
                </pluginRepository>
            </pluginRepositories>
            <repositories>
                <repository>
                    <id>artifactory</id>
                    <url>https://int.repositories.cloud.sap/artifactory/build-releases/</url>
                </repository>
            </repositories>
            <properties>
                <tycho.disableP2Mirrors>true</tycho.disableP2Mirrors>
                <tycho.localArtifacts>ignore</tycho.localArtifacts>
            </properties>
        </profile>
        <profile>
            <id>milestone.build</id>
            <pluginRepositories>
                <pluginRepository>
                    <id>artifactory</id>
                    <url>https://int.repositories.cloud.sap/artifactory/build-milestones/</url>
                </pluginRepository>
            </pluginRepositories>
            <repositories>
                <repository>
                    <id>artifactory</id>
                    <url>https://int.repositories.cloud.sap/artifactory/build-milestones/</url>
                </repository>
            </repositories>
            <properties>
                <tycho.disableP2Mirrors>true</tycho.disableP2Mirrors>
                <tycho.localArtifacts>ignore</tycho.localArtifacts>
            </properties>
        </profile>
        <profile>
            <id>snapshot.build</id>
            <pluginRepositories>
                <pluginRepository>
                    <id>artifactory</id>
                    <url>https://int.repositories.cloud.sap/artifactory/build-snapshots/</url>
                </pluginRepository>
            </pluginRepositories>
            <repositories>
                <repository>
                    <id>artifactory</id>
                    <url>https://int.repositories.cloud.sap/artifactory/build-snapshots/</url>
                </repository>
            </repositories>
            <properties>
                <downloadSources>true</downloadSources>
                <downloadJavadocs>true</downloadJavadocs>
                <tycho.disableP2Mirrors>true</tycho.disableP2Mirrors>
                <tycho.localArtifacts>ignore</tycho.localArtifacts>
            </properties>
        </profile>
        <profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <sonar.host.url>https://sonar.tools.sap</sonar.host.url>
                <tycho.disableP2Mirrors>true</tycho.disableP2Mirrors>
                <tycho.localArtifacts>ignore</tycho.localArtifacts>
            </properties>
        </profile>
        <!-- JDK 17 Profile -->
        <profile>
            <id>jdk-17</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <maven.compiler.source>17</maven.compiler.source>
                <maven.compiler.target>17</maven.compiler.target>
                <maven.compiler.compilerVersion>17</maven.compiler.compilerVersion>
            </properties>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>snapshot.build</activeProfile>
    </activeProfiles>
    <pluginGroups>
        <pluginGroup>com.sap.ldi</pluginGroup>
    </pluginGroups>
</settings>
